"*":
  core:
    themes: [
      "atom-dark-ui"
      "gruvbox"
    ]
  editor:
    fontFamily: "Fantasque Sans Mono"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 120
    showInvisibles: true
  "exception-reporting":
    userId: "42e59b8d-76fd-7981-9c2a-b77916f4c752"
  welcome:
    showOnStartup: false
