'.platform-darwin':
  'cmd-x'        : 'command-palette:toggle'

'.platform-darwin atom-workspace':
  'cmd-o'         : 'advanced-open-file:toggle'
  'cmd-p'         : 'douglas:toggle'
  'ctrl-, ctrl-r' : 'tree-view:rename'
  'ctrl-, ctrl-d' : 'tree-view:remove'

'.platform-darwin atom-text-editor.vim-mode-plus.normal-mode':
  'tab'           : 'window:focus-next-pane'
  's'             : 'vim-mode-plus:surround'
  's w'           : 'vim-mode-plus:surround-word'
  'd s'           : 'vim-mode-plus:delete-surround'
  'c s'           : 'vim-mode-plus:change-surround'
  'd n s'         : 'vim-mode-plus:delete-surround-any-pair'
  'c n s'         : 'vim-mode-plus:change-surround-any-pair'
  'd s'           : 'vim-mode-plus:delete-surround'
  'c s'           : 'vim-mode-plus:change-surround'
  'y m s'         : 'vim-mode-plus:map-surround'
  'space s h'     : 'vim-mode-plus:clear-highlight-search'
  'ctrl-i'        : 'cursor-history:next'
  'ctrl-o'        : 'cursor-history:prev'

'.platform-darwin atom-text-editor.vim-mode-plus.visual-mode':
  's'             : 'vim-mode-plus:surround'

'.platform-darwin .fuzzy-finder atom-text-editor[mini]':
  'ctrl-enter'      : 'pane:split-right'
  'ctrl-shift-enter': 'pane:split-down'

'.platform-darwin .tree-view':
  'tab': 'tree-view:toggle-focus'
  'cmd-x': 'unset!'
