'atom-workspace':
  'cmd-o'         : 'advanced-open-file:toggle'
  'cmd-x'         : 'command-palette:toggle'
  'cmd-p'         : 'douglas:toggle'

'atom-text-editor.vim-mode-plus.normal-mode':
  ':'             : 'command-palette:toggle'
  'tab'           : 'window:focus-next-pane'
  's'             : 'vim-mode-plus:surround'
  's w'           : 'vim-mode-plus:surround-word'
  'd s'           : 'vim-mode-plus:delete-surround'
  'c s'           : 'vim-mode-plus:change-surround'
  'd n s'         : 'vim-mode-plus:delete-surround-any-pair'
  'c n s'         : 'vim-mode-plus:change-surround-any-pair'
  'd s'           : 'vim-mode-plus:delete-surround'
  'c s'           : 'vim-mode-plus:change-surround'
  'y m s'         : 'vim-mode-plus:map-surround'
  'space s h'     : 'vim-mode-plus:clear-highlight-search'
  'ctrl-i'        : 'cursor-history:next'
  'ctrl-o'        : 'cursor-history:prev'

'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-enter'      : 'pane:split-right'
  'ctrl-shift-enter': 'pane:split-down'
